html{
    min-width: 800px;
    background-color: #F0F2EA;
    padding: 0 100px;
}

body{
    max-width: 600px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clearfix{
    clear: both;
}

.logo-header{
    padding-top: 40px;
    text-align: center;
}

.logo-header-image{
    margin: 0 37px;
}

.logo-header-rectangle{
    width: 120px;
    height: 2px;
    background: #dbd8d8;
    display: inline-block;
    margin-bottom: 50px;
}

.logo-header-title{
    margin-top: 34px;
    font-size: 14px;
    color: #636758;
    letter-spacing: 1px;
}

.hero{
    margin-top: 40px;
    background: no-repeat center/cover url("../images/animals.png");
    text-align: center;
    color: #FFFFFF;
    padding: 137px 20px 163px 20px;

}

.hero-title{
    font-size: 36px;
    letter-spacing: 2px;
}

.hero-separator{
    display: inline-block;
    margin-top: 17px;
    width: 100px;
    height: 1px;
    background: white;
}

.hero-subtitle{
    margin-top: 24px;
    font-size: 14px;
    letter-spacing: 2px;
}

.best-articles{
    margin-top: 48px;
    padding: 0 30px;
}

.best-articles-title{
    font-size: 24px;
    font-weight: bold;
    color: #484A43;
    text-align: center;
    margin-bottom: 32px;
}

.best-article-container{
    max-width: 255px;
    max-height: 270px;
}

.best-article-container a{
    color: white;
    display: block;
    padding: 61px 0;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.best-article-container h3{
    margin-top: 19px;
    font-size: 14px;
    font-weight: bold;
    color: #6D7E44;
    line-height: 22px;
}

.best-article-container p{
    margin-top: 9px;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    text-overflow: ellipsis;
}

.hay-stacks-bg{
    background-image: url("../images/hay-stacks.png");
}

.wheat-bg{
    background-image: url("../images/wheat.png");
}

.best-article-container-wide{
    margin-top: 35px;
    max-width: none;
    max-height: none;
}

.best-article-container-wide a{
    padding: 96px 0;
}

.lake-bridge-bg{
    background-image: url("../images/lake-bridge.png");
}