html{
    min-width: 800px;
    background-color: #F0F2EA;
    padding: 0 100px;
}

body{
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.logo-header{
    padding-top: 40px;
    text-align: center;
}

.logo-header-image{
    margin: 0 37px;
}

.logo-header-rectangle{
    width: 120px;
    height: 2px;
    background: #dbd8d8;
    display: inline-block;
    margin-bottom: 50px;
}

.logo-header-title{
    margin-top: 34px;
    font-size: 14px;
    color: #636758;
    letter-spacing: 1px;
}

.hero{
    margin-top: 40px;
    background: no-repeat center/cover url("../images/animals.png");
    text-align: center;
    color: #FFFFFF;
    padding: 137px 20px 163px 20px;

}

.hero-title{
    font-size: 36px;
    letter-spacing: 2px;
}

.hero-separator{
    display: inline-block;
    margin-top: 17px;
    width: 100px;
    height: 1px;
    background: white;
}

.hero-subtitle{
    margin-top: 24px;
    font-size: 14px;
    letter-spacing: 2px;
}
